@use "bulma/sass/utilities/mixins";
@use "bulma/sass/utilities/initial-variables" as iv;
@import "bulma/bulma";
// @import "@/node_modules/bulma/sass/utilities/mixins";

:root {
    --border-color: iv.$black; // Use the Sass variable for initial value
}

// Set custom property for dark mode
@media (prefers-color-scheme: dark) {
    :root {
        --border-color: iv.$white; // Use the Sass variable for dark mode
    }
}

html,
body {
    max-width: 100vw;
    padding: 2rem;
    overflow-x: hidden;
}

.container {
    padding: 2rem;
}

.block {
    width: 100%;
    margin-bottom: 2rem;
}

.block:first-of-type {
    margin-top: 2rem;
}

.is-square {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.has-border {
    border-width: 2px;
    border-style: solid;
    border-color: var(--border-color);
}

.box {

    &.has-border {
        border-width: 4px;
        border-style: dashed;
        position: relative;
        &:hover {
            cursor: pointer !important;
            transform: translate(0, -0.25rem);
        }
    }
}

.tag {
    white-space: wrap;
    height: auto;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    &:hover {
        cursor: pointer;
    }
    
    &.is-loading {
            position: relative;
            pointer-events: none;
    
            &:after {
                @include mixins.loader;
                position: absolute;
                top: calc(50% - 0.5rem);
                left: calc(50% - 0.5rem);
                width: 1rem;
                height: 1rem;
                border-width: 0.25em;
            }
        }
}

.timeline-dot {
    position: absolute;
    width: var(--bulma-size-large);
    height: var(--bulma-size-large);
    border-radius: 50%;
    border: 1px solid black;
}

.timeline-dot:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    border: 1px solid black;
    text-align: center;
    // padding: 0.5rem;
    width: 2rem;
    height: 2rem;
    
    user-select: none;
}

.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}